<main class="p-10">
  <div class="mx-auto max-w-2xl">
    <h1 class="text-3xl font-extrabold mb-6">Latest thoughts</h1>
    <% if (thoughts.length > 0) { %>
    <ul class="not-prose w-full flex flex-col gap-4">
      <% thoughts.forEach(thought => { %>
      <li>
        <%- include("../partials/thoughtCard", { thought })%>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </div>
</main>