<main class="prose w-full m-auto grid place-items-center">
  <% if (locals.currentUser) {%>
  <h1>WELCOME BACK <%= currentUser.username %></h1>
  <a href="/logout">LOG OUT</a>
  <% } else { %>
  <h1 class="text-center">Register now</h1>
  <a role="button" href="/register" class="btn btn-primary btn-lg">Sign up</a>
  <%}%>

</main>