<main class="w-90 mx-auto my-10 px-4 prose max-w-full">
  <header class="mx-auto flex items-center justify-between mb-4">
    <h1 class="mb-0 text-3xl">Add thought</h1>
    <a role="button" class="btn btn-circle btn-ghost translate-x-2" href="/thoughts"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x w-4 h-4">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M18 6l-12 12" />
        <path d="M6 6l12 12" />
      </svg></a>
  </header>

  <% if (typeof errors !== "undefined" && errors.length > 0) {%>
  <%- include("../partials/errorList.ejs", { errors }) %>
  <% } %>

  <form action="/thoughts/new" method="POST" class="mt-4 mx-auto not-prose">
    <ul class="flex flex-col gap-4">
      <li>
        <input type="text" name="thoughtTitle" id="titleInput" class="input w-full prose" placeholder="Title*" required>
      </li>
      <li>
        <textarea name="thoughtBody" id="thoughtInput" class="textarea w-full prose" placeholder="Add your thoughts*" required rows="6"></textarea>
      </li>
      <li class="self-end">
        <button type="submit" class="btn btn-primary">Post</button>
      </li>
    </ul>
  </form>
</main>