  <main class="prose w-90 m-auto grid place-items-center px-4 py-8">
    <p class="text-sm uppercase opacity-80 mb-2">join for free</p>
    <h1 class="text-center">Create account
    </h1>
    <% if (typeof errors !== "undefined" && errors.length) {%>
    <%- include("../partials/errorList.ejs", { errors }) %>
    <% } %>
    <form action="/signup" method="POST" class="flex flex-col gap-4 ">
      <div class="grid grid-cols-2 gap-3">
        <div class="flex flex-col gap-2">
          <label for="firstNameInput">First name*</label>
          <input type="text" name="firstName" id="firstNameInput" class="input mb-0" required>
        </div>
        <div class="flex flex-col gap-2">
          <label for="lastNameInput">Last name*</label>
          <input type="text" name="lastName" id="lastNameInput" class="input" required>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <label for="usernameInput">Email*</label>
        <label for="usernameInput" class="input w-full">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 opacity-50 lucide lucide-mail-icon lucide-mail">
            <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
            <rect x="2" y="4" width="20" height="16" rx="2" />
          </svg>
          <input type="email" name="username" id="usernameInput" class="grow" placeholder="your@email.com" required>
        </label>
      </div>
      <div class="flex flex-col gap-2">
        <label for="passwordInput">Password*</label>
        <label class="input w-full">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-[1em] opacity-50 lucide lucide-lock-icon lucide-lock">
            <rect width="18" height="11" x="3" y="11" rx="2" ry="2" />
            <path d="M7 11V7a5 5 0 0 1 10 0v4" />
          </svg>
          <input type="password" name="password" id="passwordInput" required>
        </label>
      </div>
      <div class="flex flex-col gap-2">
        <label for="confirmPasswordInput">Confirm password*</label>
        <label class="input w-full">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-[1em] opacity-50 lucide lucide-lock-icon lucide-lock">
            <rect width="18" height="11" x="3" y="11" rx="2" ry="2" />
            <path d="M7 11V7a5 5 0 0 1 10 0v4" />
          </svg>
          <input type="password" name="confirmPassword" id="confirmPasswordInput" required>
        </label>
      </div>
      <button type="submit" class="btn btn-primary mt-8">Create account</button>
    </form>
    <p class="text-center text-sm">
      <span class="opacity-60">Already have an account?</span>
      <a href="/login">Log in</a>
    </p>
  </main>