<div class="dropdown dropdown-end">
  <button tabindex="0" class="btn btn-ghost btn-circle avatar">
    <div class="w-12 rounded-full">
      <img alt="Avatar" src="https://api.dicebear.com/9.x/initials/svg?seed='<%= locals.currentUser.first_name %> <%= locals.currentUser.last_name %>'" />
    </div>
  </button>
  <ul tabindex="-1" class="menu dropdown-content bg-base-200 rounded-box z-1 mt-3 w-52 p-2 shadow">
    <% if (!locals.currentUser.is_member) { %>
    <li>
      <button onclick="becomeMemberModal.showModal()">Become a member</button>
    </li>
    <% } else if (!locals.currentUser.is_admin) { %>
    <li>
      <button onclick="becomeAdminModal.showModal()">Join as admin</button>
    </li>
    <% } %>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>
</div>
<%- include("../modal.ejs", { id: "becomeMemberModal", submitPath: "/become-member", title: "Become a member" } ) %>
<%- include("../modal.ejs", { id: "becomeAdminModal", submitPath: "/become-admin", title: "Admin elevation" } ) %>